<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Multiple Branch/Unit(operation) Management Module for
                single company.</b></h2>
            <h3 class="oe_slogn" style=" text-align: center;">Do you have multiple unit for single company? Do you want
                them to be
                work as separate entity inside the company? Here you go, we have
                make plugin that helps users to make different branch for single
                company with multi branch concept which works same as multi-company
                environment.<br/> <br/>Also Don't worry about the access rights
                too, We have added branch user/manager roles inside the module,
                Branch user can only access records of its specific branch and
                Branch manager can see records of all Branches.
                <br/><br/>Branch functionality added to Sale Order, Purchase Order, Invoice, Warehouse and Point Of
                Sale.</h3>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">
            <div class="oe_span12" style="width: 835px;">
                <div class="panel panel-primary" style="border-color: #528df3 !important;">
                    <div class="panel-heading" style="background-color: #528df3 !important;">
                        <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>key features:
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Add multiple
                                branch/unit.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Access group
                                created for Branch user and branch manager.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Access
                                records of its specific branch.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Working as
                                multi branch concept same as Odoo's multi company environment.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Branch
                                manager can see
                                all branch records.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Branch
                                functionality added to Sales, Purchase, Invoice, Warehouse and POS.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> POS works
                                based on session and branch is printed on POS receipt.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Single Chart
                                of accounts
                                for all branches.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Complete
                                workflow for branch i.e sales to delivery.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Branch is
                                effected on Automated(Real Time) Inventory valuation.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Branch wise
                                Financial
                                Statement filter .i.e BS, P & L, GL, TB.
                            </li>
                            <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> View Branch
                                on Sales, Purchase, Invoice, Inventory and Point Of sale Analysis report.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<br/>

<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style="text-align: center;">
			<span align="center" class="label label-success"
                  style="background-color: #528df3; height=500px;font-size:25px;"> <span
                    class="fa fa-star fa-spin"></span> Multiple Branch/Unit(operation) Management Module for single company
			</span>
        </h4>
    </div>
</section>
<br>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>How to create multiple branch
                for company.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You can go to Settings > Users > Branch.</h3>
            <br/>
            <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                 src="branch_details_10.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Assigning a branch to
                user.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You can assign a branch for which specific user is
                belongs.</h3>
            <br/>
            <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                 src="assign_branch_10.png">
        </div>
    </div>
</section>

<!--<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>You can change the preference of branch also.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="branch_pref.png">
            </div>
        </div>
    </section>  -->

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Branch On Sales
                Flow.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">While creating
                sales order user who is currently login, branch of the user is set
                as branch to the sales order and warehouse shipment address is also set according to selected
                branch.</h3>
            <br/>
            <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="b_sales_10.png"><br/><br/>
            <h3 class="text-info" style="font-size: 25px;">You can see created records of sale order group by branch
                using this filter.<br/>You can also find this branch filter in Purchase Order, Invoice, Incoming
                Shipment/Delivery Order, Account Bank Statement, Account Payment and Point Of Sale.</h3>
            <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                 src="sale_order_filter.png"><br/><br/>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
                <strong>Branch on Sales Analysis Report.</strong>
            </h1>
            <h3 class="text-info" style="font-size: 25px;">You can see sales analysis report based on branch.</h3>
            <br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="sales_analysis.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
                <strong>Branch on Picking(Delivery Order)</strong>
            </h1>
            <h3 class="text-info" style="font-size: 25px;">While Quotation get confirmed generated picking(delivery)
                will have same branch automatically set based on Sales Order.</h3>
            <br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="delivery_order.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
                <strong>Branch on Stock Move Analysis Report.</strong>
            </h1>
            <h3 class="text-info" style="font-size: 25px;">You can see stock move analysis report based on branch.</h3>
            <br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="stock_move_analysis.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
                <strong>Branch On Invoices</strong>
            </h1>
            <h3 class="text-info" style="font-size: 25px;">While invoice created from the sales order selected branch of
                the sales order will automatically set on invoice.<br/>When creating manual invoice then log in user's
                branch will be assigned to the invoice.</h3>
            <br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="inv_10.png">
        </div>
    </div>
</section>
<span>

	<!--<section class="oe_container oe_dark">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<br /> <img class="img-border img-responsive thumbnail"
					style="border: 3px solid black;" src="voucher_10.png" />
			</div>
		</div>
	</section>-->

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">After Validate invoice, Selected branch of the invoice will automatically set on Journal Entry.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="move_9.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">Selected branch of the invoice will automatically set on Account Payment.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="account_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">After clicking on Journal Items smart button, You can see Journal Items with automatically selected branch.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="payment_branch.png">
		</div>
	</div>
</section>

    <!---->
<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
				<strong>Branch on Invoice Analysis Report.</strong>
			</h1>
			<h3 class="text-info" style="font-size: 25px;">You can see invoice Analysis report based on branch.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="invoice_analysis.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center;padding-bottom: 40px;"><strong>Branch On Purchase Flow.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">While creating purchase order user who is currently login, branch of the user is set as branch to the purchase order.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="b_purchase_9.png">
            </div>
        </div>
    </section>
<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                        <h3 class="text-info" style="font-size: 25px;">While creating purchase order warehouse picking address is set according to branch which is selected.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="branch_purchase_1.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
				<strong>Branch on Purchase Analysis Report.</strong>
			</h1>
			<h3 class="text-info" style="font-size: 25px;">You can see purchase analysis report based on branch.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="purchase_analysis.png">
		</div>
	</div>
</section>
    
<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center;padding-bottom: 40px;"><strong>Branch on Picking(Shipment)</strong></h1>
                        <h3 class="text-info" style="font-size: 25px;">While RFQ(purchase) get confirmed generated picking(shipment) will have same branch automatically set based on RFQ.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="picking_branch.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center;padding-bottom: 40px;"><strong>Branch On Invoice.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">While invoice created from the purchase order selected branch of the purchase order will automatically set on invoice.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="purchase_invoice.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">After Validate invoice, Selected branch of the invoice will automatically set on Journal Entry.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="purchase_entry.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">Selected branch of the invoice will automatically set on Account Payment.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="pur_account_payment.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">After clicking on Journal Items smart button, You can see Journal Items with automatically selected branch.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="pur_payment_branch.png">
		</div>
	</div>
</section>
    <!---->

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Branch On Warehouse</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You can also define branch in the warehouse and all the technical fields are set according to the branch.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="branch_warehouse_1.png">
            </div>
        </div>
    </section>
<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                        <h3 class="text-info"
                            style="font-size: 25px;">In warehouse locations you can also set branch.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="branch_warehouse_2.png">
            </div>
        </div>
    </section>
<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                        <h3 class="text-info" style="font-size: 25px;">It display warning if you select different branch on location than warehouse.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="branch_warehouse_3.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                        <h3 class="text-info" style="font-size: 25px;">It display warning if you select different branch than warehouse.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;"
                     src="branch_purchase_2.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Automated(Real Time) Inventory Valuation.</strong></h1>
			<h3 class="text-info" style="font-size: 25px;">If you set Automated(Real Time) Inventory valuation for your inventory setup then generated stock accounting entry will also have same branch will be linked which used to print financial statement properly with branch filter.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="branch_4.png">
		</div>
	</div>
</section>
    
<section class="oe_container oe_dark">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h1 class="text-info"
                    style="text-align: center; padding-bottom: 40px;">
					<strong>Branch On Bank Statements.</strong>
				</h1>
				<h3 class="text-info" style="font-size: 25px;">While creating
					Bank Statements you can also show branch details in it.</h3>
				<br/> <img class="img-border img-responsive thumbnail"
                           style="border: 3px solid black;" src="bank_state_branch.png"/>
			</div>
		</div>
	</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h3 class="text-info" style="font-size: 25px;">After validate Bank Statements you can also see branch details in the journal entry of it.</h3>
				<br/> <img class="img-border img-responsive thumbnail"
                           style="border: 3px solid black;" src="bank_state_branch4.png"/>
			</div>
		</div>
	</section>
	
<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
				<strong>Sales/Purchase Receipts</strong>
			</h1>
			<h3 class="text-info" style="font-size: 25px;">In Sales/Purchase Receipts branch will automatically selected.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="sale_receipt.png"><br/>
				<img class="img-border img-responsive thumbnail"
                     style="border: 3px solid black;" src="pur_receipt.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Point Of Sale.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">While creating POS orders login user's branch will be pass in the POS session and the orders created by that session you can also see the branch in the POS receipt.</h3>
            <h1 class="text-info"
                style="text-align: center;padding-bottom: 40px;"><strong>Branch on Session.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="pos_session.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Branch on POS order.</strong></h1>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="pos_order.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center;padding-bottom: 40px;"><strong>Branch on Receipt.</strong></h1>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="pos_rec.png">
            </div>
        </div>
    </section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info"
                style="text-align: center;padding-bottom: 40px;"><strong>Branch on Payment.</strong></h1>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="payments.png">
            </div>
        </div>
    </section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
                style="text-align: center; padding-bottom: 40px;">
				<strong>Branch on Point Of Sale Analysis Report.</strong>
			</h1>
			<h3 class="text-info"
                style="font-size: 25px;">You can see Point Of Sale analysis report based on branch.</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="pos_analysis.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h3 class="text-info" style="font-size: 25px;">You can see in
				the session that only allowed branches in POS are display here for
				selection</h3>
			<br/> <img class="img-border img-responsive thumbnail"
                       style="border: 3px solid black;" src="branch_1.png">
		</div>
	</div>
</section>

	<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h1 class="text-info"
                    style="text-align: center; padding-bottom: 40px;">
					<strong>Branch Wise Accounting Report.</strong>
				</h1>
				<h3 class="text-info" style="font-size: 25px;color:red;">Branch Wise Accounting Reports are only available in Community Edition, If you are looking for Enterprise Edition, The module is available here : <a
                        href="https://apps.odoo.com/apps/modules/10.0/branch_accounting_report/">Financial Reports For Branch -Enterprise Edition</a></h3>
					
			</div>
		</div>
	</section>

	<section class="oe_container oe_dark">
		<div class="oe_row oe_spaced">
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 20px;">You will get 90
				Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_mt32" style="text-align: center;">
				At BrowseInfo we offer end to end solution for Odoo services. Which
				includes analysis & consultation on the workflows and integration
				part. Please note that You're not allowed to distribute this module
				after purchase! Incase of any question regarding this module feel
				free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a>
				or raise a ticket on support.
			</p>
		</div>
	</section> <br/>

	<section class="oe_container oe_dark">
		<div class="oe_row ">
			<div class="oe_slogan text-center">
				<a href="http://www.browseinfo.in" target="new"> <img
                        src="bi_logo.png"/>
				</a> <br/>
				<div class="oe_span12">
					<h2 class="text-center">
						<a>About us</a>
					</h2>
				</div>
				<span> <a style="color: #a24689 !important;"
                          href="http://www.browseinfo.in" target="new">Website</a> | <a
                        style="color: #a24689 !important;"
                        href="http://www.blog.browseinfo.in" target="new">Blog</a> | <a
                        style="color: #a24689 !important;"
                        href="mailto:sales@browseinfo.in">Contact Us</a> | <a
                        style="color: #a24689 !important;"
                        href="mailto:sales@browseinfo.in">Request New Feature</a>
				</span>
			</div>
		</div>
	</section>
